
/* universal selector */

*{
   padding: 0;
   margin: 0;
    box-sizing: border-box;
}

#b1{
   color: white;
   background-color: cornflowerblue;
   border: none;
   padding: 10px;
   margin: 20px;
   box-sizing: content-box 40px, 20px
}
   
  
  #b2{
    color: darkgreen;
    border: solid darkgreen;
    background-color: white;
    padding:  10px;
    border-radius: 20px;
    margin: 20px; 
   
  }
  
 #b3{
    color: white;
    border: solid darkred;
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
   
 }


#b4{
   color: white;
   border: none;
   background-color: darkcyan;
   padding: 10px;
   border-radius: 4px;
   box-shadow: 0px 3px black;
   margin: 20px;
   
   
}


#b5{
   color: white;
   border: solid;
   background-color: purple;
   padding: 10px;
   border-radius: 4px;
   box-shadow: 3px darkblue;
   margin: 20px;
   

}


