
/* flex
grid
inline
in-line block
block */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


nav{
      background-color: #2c1762;
      display: flex;
      gap: 20px;
      align-items: center;
      padding: 30px 10%;
      color: white;


    .leftnavbar{
      display: flex;
      gap: 20px;
      align-items: center;
    }


    .rightnavbar {
      display: flex;
      gap: 20px;
      align-items: center;
    }

  
    .rightnavbar button{
      padding: 10px 20px;
      border-radius: 10px;
      border: none;
    }

    .rightnavbar{
      font-size: small;
    }






}




